@font-face {
  font-family: "iconfont"; /* Project id 3112440 */
  src: url('iconfont.woff2?t=1641021802830') format('woff2'),
       url('iconfont.woff?t=1641021802830') format('woff'),
       url('iconfont.ttf?t=1641021802830') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daima:before {
  content: "\e702";
}

.icon-yonghu:before {
  content: "\e6f1";
}

.icon-dianzan:before {
  content: "\e623";
}

.icon-daima1:before {
  content: "\e64f";
}

.icon-riqi:before {
  content: "\e6af";
}

.icon-pinglun:before {
  content: "\f5b0";
}

.icon-woguanlide:before {
  content: "\e64e";
}

.icon-fabu:before {
  content: "\e604";
}

.icon-tongji:before {
  content: "\ec62";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60c";
}

.icon-zhexiantu:before {
  content: "\e685";
}

.icon-zhankai:before {
  content: "\e621";
}

.icon-shouqi:before {
  content: "\e622";
}

.icon-quanzi:before {
  content: "\fb35";
}

.icon-shequpinglun:before {
  content: "\ffc2";
}

.icon-bug:before {
  content: "\e70c";
}

