html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.el-card {
  border: 0;
}

.el-divider--horizontal {
  background-color: #304156;
}